/* PHASE 2: Navigation */

.header {
  background: #f00;
  color: #fff;
  border-bottom: 1px solid #ccc;
}

.header-logo {
  float: left;
  border-right: 1px solid #ccc;
  font-weight: 700;
  background: #f00;
}

.header-logo:hover {
  background: #f00;
}

.header-list {
  float: right;
  background: #f00;
}

.header-list > li {
  float: left;
  border-left: 1px solid #ccc;
}

.header-list > li:hover {
  background: #f00;
}
